{
  "db": {
    "uri": "mongodb://localhost/epa",
    "uri_test": "mongodb://localhost/epa_test"
  },
  "oauth": {
    "client_token_lifetime_minutes": 180,
    "user_token_lifetime_minutes": 5
  }
}
